html, body {
  margin: 0 auto;
  overflow-wrap: break-word;
  font-size: 22px;
}

.site-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intro {
  flex: 0 1 auto;
  background: #002b36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro h1 {
  color: #cb4b16;
}

.intro span {
  color: #eee8d5;
}

pre {
  white-space: pre-wrap;
  color: #fdf6e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  display: block;
  font-size: 1.25rem;
  margin: 0 auto;
}

@media (max-width: 800px) {
  code {
    font-size: 1.05rem;
  }
}

@media (max-width: 500px) {
  code {
    padding-left: 0;
    font-size: .705rem;
  }
}

@media (max-width: 325px) {
  code {
    padding-left: 0;
    font-size: .605rem;
  }
}

.about-me {
  background: #D8483c;
  color: #FDCDCD;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me-text {
  font-family: "Lucida Console";
  text-align: center;
}

h1.about-me-text {
  font-size: 2.25rem;
  padding-top: 5vh;
  padding-bottom: ;
  letter-spacing: 1px;
  line-height: 90%;
}

h1.about-me-text:after {
  display: block;
  height: 4px;
  background-color: #FDCDCD;
  content: " ";
  width: 30vw;
  margin: 20px auto;
  margin-bottom: 65px;
}

p.about-me-text {
  font-size: 1rem;
  line-height: 90%;
  margin: 0 auto;
  padding: 0 10vw;
}
